<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Account Confirmation</mat-card-title>
            <mat-card-subtitle>You account has been created.</mat-card-subtitle>
            <mat-card-subtitle>Click the button below to activate your account.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                Confirm
            </button>
        </mat-card-actions>
    </mat-card>
</form>