<div fxLayout="row wrap" fxLayoutAlign="center start" class="pricing-box">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card class="pricing-plan">
            <mat-card-content>
                <pre>
                    {{oidcSecurityService.userData$ | async | json}}
                </pre>
                <pre>
                    {{menu$ | async | json}}
                </pre>

                <div fxFlex.gt-sm="100" fxFlex="100">
                    <button mat-raised-button color="primary">Submit</button>
                    <a routerLink="/login" mat-raised-button color="primary">
                        Login Page
                    </a>
                    <a routerLink="/logout" mat-raised-button color="primary">
                        Logout Page
                    </a>
                </div>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary">Choose Plan</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>