<form [formGroup]="entityForm" (ngSubmit)="register()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Register to ReCCAP Dashboard</mat-card-title>
            <mat-card-subtitle>Enter your username and we'll send you the password reset link.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <app-field-validation [error]="entityForm.touched && entityForm.errors">
            </app-field-validation>
            <div class="d-flex flex-column" [formGroup]="entityForm">
                <div class="d-flex justify-content-center flex-column">
                    <mat-form-field *ngIf="entityForm.controls.username;let control">
                        <input matInput placeholder="Username" formControlName="username">
                        <mat-error *ngIf="control.errors?.required;let error">Username is required.</mat-error>
                        <mat-error *ngFor="let error of control.errors?.serverError;">{{error}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="d-flex justify-content-center flex-column">
                    <mat-form-field *ngIf="entityForm.controls.password;let control">
                        <input matInput type="password" placeholder="Password" formControlName="password">
                        <mat-error *ngIf="control.errors?.required;let error">You must include password.</mat-error>
                        <mat-error *ngFor="let error of control.errors?.serverError;">{{error}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="d-flex justify-content-center flex-column">
                    <mat-form-field *ngIf="entityForm.controls.confirmPassword;let control">
                        <input matInput placeholder="Confirm Password" formControlName="confirmPassword"
                            type="password">
                        <mat-error *ngIf="control.errors?.required;let error">You must include confirm password.
                        </mat-error>
                        <mat-error *ngIf="control.errors?.equalTo;let error">Passwords do not math.</mat-error>
                        <mat-error *ngFor="let error of control.errors?.serverError;">{{error}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="d-flex justify-content-center flex-column">
                    <mat-form-field *ngIf="entityForm.controls.email;let control">
                        <input matInput placeholder="Email address" type="email" formControlName="email">
                        <mat-error *ngIf="control.errors?.required;let error">You must include an email address.
                        </mat-error>
                        <mat-error *ngIf="control.errors?.email;let error">You must include a valid email address.
                        </mat-error>
                        <mat-error *ngFor="let error of control.errors?.serverError;">{{error}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="d-flex justify-content-between">
                    <mat-checkbox>
                        I agree to the all
                        <a href="javascript:void(0)" class="link text-info">terms</a>.
                    </mat-checkbox>
                    <span>
                        Already have an account?
                        <a [routerLink]="['/login']" [queryParams]="{returnUrl: returnUrl}" class="link text-info">
                            Login</a>
                    </span>

                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!entityForm.valid">
                Create your account
            </button>
        </mat-card-actions>
    </mat-card>
</form>
