<button *ngIf="isAuthenticated$ | async; else notAuthenticated" [matMenuTriggerFor]="profile" mat-icon-button>
    <i class="fal fa-user fa-lg"></i>
</button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item disabled>
        <i class="fal fa-user fa-lg mr-2"></i>{{(userData$ | async)?.displayName}}
    </button>
    <button mat-menu-item>
        <i class="fal fa-user-cog fa-lg mr-2"></i>Settings
    </button>
    <a routerLink="/account/profile" mat-menu-item>
        <i class="fal fa-address-card fa-lg mr-2"></i>Profile
    </a>
    <a routerLink="/account/password-change" mat-menu-item>
        <i class="fal fa-key fa-lg mr-2"></i>Change Password
    </a>
    <button mat-menu-item (click)="logout()">
        <i class="fal fa-sign-out-alt fa-lg mr-2"></i>Log Out
    </button>
</mat-menu>
<ng-template #notAuthenticated>
    <button mat-button (click)="login()"><i class="fal fa-sign-in-alt fa-lg mr-2"></i>Log in</button>
    
</ng-template>