replicaCount: 1

image:
  repository: heliumdatastage/tycho-api
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  # tag: 1.0.2

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

app:
  name: tycho-api

serviceAccount:
  create: true
  name: tycho-api

service:
  type: ClusterIP
  port: 80
  ip_none: true

resources:
  limits:
     cpu: 100m
     memory: 256Mi
  requests:
     cpu: 50m
     memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# Set either useClusterRole or useRole to true.
useClusterRole: false
useRole: true

# Set to true, when using blackbalsam.
useSparkServiceAccount: true

# Create Home directories
createHomeDirs: true

runAsRoot: true

# Variables for default volumes.
parent_dir: "/home"
subpath_dir: null
shared_dir: "shared"

# Add any extra environment variables not already defined in the chart.
extraEnv: {}

global:
  tycho_api_service_name: tycho-api
  # Specify a PV to use as HeLx's stdnfs.
  stdnfsPvc: stdnfs
