<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.diagnostics.SecurityIsOffMonitor</string>
    <string>jenkins.security.s2m.MasterKillSwitchWarning</string>
    <string>hudsonHomeIsFull</string>
    <string>hudson.diagnosis.ReverseProxySetupMonitor</string>
    <string>hudson.node_monitors.MonitorMarkedNodeOffline</string>
    <string>hudson.diagnosis.TooManyJobsButNoView</string>
    <string>GitHubHookRegisterProblemMonitor</string>
  </disabledAdministrativeMonitors>
  <version>2.222</version>
  <installStateName>RESTART</installStateName>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:acrerar</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:balhoff</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:bennettc</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:bizon</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:kferriter</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:pjl</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:pwang</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:scox</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:singh</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:acrerar</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:balhoff</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:bennettc</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:bizon</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:kferriter</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:pjl</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:pwang</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:scox</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:singh</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:acrerar</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:balhoff</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:bennettc</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:bizon</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:kferriter</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:pjl</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:pwang</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:scox</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:singh</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:acrerar</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:balhoff</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:bennettc</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:bizon</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:kferriter</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:pjl</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:pwang</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:scox</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:singh</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:acrerar</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:balhoff</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:bennettc</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:bizon</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:kferriter</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:pjl</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:pwang</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:scox</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:singh</permission>
    <permission>hudson.model.Computer.Build:acrerar</permission>
    <permission>hudson.model.Computer.Build:balhoff</permission>
    <permission>hudson.model.Computer.Build:bennettc</permission>
    <permission>hudson.model.Computer.Build:bizon</permission>
    <permission>hudson.model.Computer.Build:kferriter</permission>
    <permission>hudson.model.Computer.Build:pjl</permission>
    <permission>hudson.model.Computer.Build:pwang</permission>
    <permission>hudson.model.Computer.Build:scox</permission>
    <permission>hudson.model.Computer.Build:singh</permission>
    <permission>hudson.model.Computer.Configure:acrerar</permission>
    <permission>hudson.model.Computer.Configure:balhoff</permission>
    <permission>hudson.model.Computer.Configure:bennettc</permission>
    <permission>hudson.model.Computer.Configure:bizon</permission>
    <permission>hudson.model.Computer.Configure:kferriter</permission>
    <permission>hudson.model.Computer.Configure:pjl</permission>
    <permission>hudson.model.Computer.Configure:pwang</permission>
    <permission>hudson.model.Computer.Configure:scox</permission>
    <permission>hudson.model.Computer.Configure:singh</permission>
    <permission>hudson.model.Computer.Connect:acrerar</permission>
    <permission>hudson.model.Computer.Connect:balhoff</permission>
    <permission>hudson.model.Computer.Connect:bennettc</permission>
    <permission>hudson.model.Computer.Connect:bizon</permission>
    <permission>hudson.model.Computer.Connect:kferriter</permission>
    <permission>hudson.model.Computer.Connect:pjl</permission>
    <permission>hudson.model.Computer.Connect:pwang</permission>
    <permission>hudson.model.Computer.Connect:scox</permission>
    <permission>hudson.model.Computer.Connect:singh</permission>
    <permission>hudson.model.Computer.Create:acrerar</permission>
    <permission>hudson.model.Computer.Create:balhoff</permission>
    <permission>hudson.model.Computer.Create:bennettc</permission>
    <permission>hudson.model.Computer.Create:bizon</permission>
    <permission>hudson.model.Computer.Create:kferriter</permission>
    <permission>hudson.model.Computer.Create:pjl</permission>
    <permission>hudson.model.Computer.Create:pwang</permission>
    <permission>hudson.model.Computer.Create:scox</permission>
    <permission>hudson.model.Computer.Create:singh</permission>
    <permission>hudson.model.Computer.Delete:acrerar</permission>
    <permission>hudson.model.Computer.Delete:balhoff</permission>
    <permission>hudson.model.Computer.Delete:bennettc</permission>
    <permission>hudson.model.Computer.Delete:bizon</permission>
    <permission>hudson.model.Computer.Delete:kferriter</permission>
    <permission>hudson.model.Computer.Delete:pjl</permission>
    <permission>hudson.model.Computer.Delete:pwang</permission>
    <permission>hudson.model.Computer.Delete:scox</permission>
    <permission>hudson.model.Computer.Delete:singh</permission>
    <permission>hudson.model.Computer.Disconnect:acrerar</permission>
    <permission>hudson.model.Computer.Disconnect:balhoff</permission>
    <permission>hudson.model.Computer.Disconnect:bennettc</permission>
    <permission>hudson.model.Computer.Disconnect:bizon</permission>
    <permission>hudson.model.Computer.Disconnect:kferriter</permission>
    <permission>hudson.model.Computer.Disconnect:pjl</permission>
    <permission>hudson.model.Computer.Disconnect:pwang</permission>
    <permission>hudson.model.Computer.Disconnect:scox</permission>
    <permission>hudson.model.Computer.Disconnect:singh</permission>
    <permission>hudson.model.Hudson.Administer:acrerar</permission>
    <permission>hudson.model.Hudson.Administer:balhoff</permission>
    <permission>hudson.model.Hudson.Administer:bennettc</permission>
    <permission>hudson.model.Hudson.Administer:bizon</permission>
    <permission>hudson.model.Hudson.Administer:kferriter</permission>
    <permission>hudson.model.Hudson.Administer:pjl</permission>
    <permission>hudson.model.Hudson.Administer:pwang</permission>
    <permission>hudson.model.Hudson.Administer:scox</permission>
    <permission>hudson.model.Hudson.Administer:singh</permission>
    <permission>hudson.model.Hudson.Administer:spshriva</permission>
    <permission>hudson.model.Hudson.Read:acrerar</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:balhoff</permission>
    <permission>hudson.model.Hudson.Read:bennettc</permission>
    <permission>hudson.model.Hudson.Read:bizon</permission>
    <permission>hudson.model.Hudson.Read:kferriter</permission>
    <permission>hudson.model.Hudson.Read:pjl</permission>
    <permission>hudson.model.Hudson.Read:pwang</permission>
    <permission>hudson.model.Hudson.Read:scox</permission>
    <permission>hudson.model.Hudson.Read:singh</permission>
    <permission>hudson.model.Item.Build:acrerar</permission>
    <permission>hudson.model.Item.Build:balhoff</permission>
    <permission>hudson.model.Item.Build:bennettc</permission>
    <permission>hudson.model.Item.Build:bizon</permission>
    <permission>hudson.model.Item.Build:igilani</permission>
    <permission>hudson.model.Item.Build:kebedey</permission>
    <permission>hudson.model.Item.Build:kferriter</permission>
    <permission>hudson.model.Item.Build:pjl</permission>
    <permission>hudson.model.Item.Build:pwang</permission>
    <permission>hudson.model.Item.Build:scox</permission>
    <permission>hudson.model.Item.Build:singh</permission>
    <permission>hudson.model.Item.Build:spshriva</permission>
    <permission>hudson.model.Item.Cancel:acrerar</permission>
    <permission>hudson.model.Item.Cancel:balhoff</permission>
    <permission>hudson.model.Item.Cancel:bennettc</permission>
    <permission>hudson.model.Item.Cancel:bizon</permission>
    <permission>hudson.model.Item.Cancel:igilani</permission>
    <permission>hudson.model.Item.Cancel:kebedey</permission>
    <permission>hudson.model.Item.Cancel:kferriter</permission>
    <permission>hudson.model.Item.Cancel:pjl</permission>
    <permission>hudson.model.Item.Cancel:pwang</permission>
    <permission>hudson.model.Item.Cancel:scox</permission>
    <permission>hudson.model.Item.Cancel:singh</permission>
    <permission>hudson.model.Item.Cancel:spshriva</permission>
    <permission>hudson.model.Item.Configure:acrerar</permission>
    <permission>hudson.model.Item.Configure:balhoff</permission>
    <permission>hudson.model.Item.Configure:bennettc</permission>
    <permission>hudson.model.Item.Configure:bizon</permission>
    <permission>hudson.model.Item.Configure:igilani</permission>
    <permission>hudson.model.Item.Configure:kebedey</permission>
    <permission>hudson.model.Item.Configure:kferriter</permission>
    <permission>hudson.model.Item.Configure:pjl</permission>
    <permission>hudson.model.Item.Configure:pwang</permission>
    <permission>hudson.model.Item.Configure:scox</permission>
    <permission>hudson.model.Item.Configure:singh</permission>
    <permission>hudson.model.Item.Configure:spshriva</permission>
    <permission>hudson.model.Item.Create:acrerar</permission>
    <permission>hudson.model.Item.Create:balhoff</permission>
    <permission>hudson.model.Item.Create:bennettc</permission>
    <permission>hudson.model.Item.Create:bizon</permission>
    <permission>hudson.model.Item.Create:igilani</permission>
    <permission>hudson.model.Item.Create:kebedey</permission>
    <permission>hudson.model.Item.Create:kferriter</permission>
    <permission>hudson.model.Item.Create:pjl</permission>
    <permission>hudson.model.Item.Create:pwang</permission>
    <permission>hudson.model.Item.Create:scox</permission>
    <permission>hudson.model.Item.Create:singh</permission>
    <permission>hudson.model.Item.Create:spshriva</permission>
    <permission>hudson.model.Item.Delete:acrerar</permission>
    <permission>hudson.model.Item.Delete:balhoff</permission>
    <permission>hudson.model.Item.Delete:bennettc</permission>
    <permission>hudson.model.Item.Delete:bizon</permission>
    <permission>hudson.model.Item.Delete:igilani</permission>
    <permission>hudson.model.Item.Delete:kebedey</permission>
    <permission>hudson.model.Item.Delete:kferriter</permission>
    <permission>hudson.model.Item.Delete:pjl</permission>
    <permission>hudson.model.Item.Delete:pwang</permission>
    <permission>hudson.model.Item.Delete:scox</permission>
    <permission>hudson.model.Item.Delete:singh</permission>
    <permission>hudson.model.Item.Delete:spshriva</permission>
    <permission>hudson.model.Item.Discover:acrerar</permission>
    <permission>hudson.model.Item.Discover:balhoff</permission>
    <permission>hudson.model.Item.Discover:bennettc</permission>
    <permission>hudson.model.Item.Discover:bizon</permission>
    <permission>hudson.model.Item.Discover:kebedey</permission>
    <permission>hudson.model.Item.Discover:kferriter</permission>
    <permission>hudson.model.Item.Discover:pjl</permission>
    <permission>hudson.model.Item.Discover:pwang</permission>
    <permission>hudson.model.Item.Discover:scox</permission>
    <permission>hudson.model.Item.Discover:singh</permission>
    <permission>hudson.model.Item.Discover:spshriva</permission>
    <permission>hudson.model.Item.Move:acrerar</permission>
    <permission>hudson.model.Item.Move:pjl</permission>
    <permission>hudson.model.Item.Move:singh</permission>
    <permission>hudson.model.Item.Read:acrerar</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:balhoff</permission>
    <permission>hudson.model.Item.Read:bennettc</permission>
    <permission>hudson.model.Item.Read:bizon</permission>
    <permission>hudson.model.Item.Read:igilani</permission>
    <permission>hudson.model.Item.Read:kebedey</permission>
    <permission>hudson.model.Item.Read:kferriter</permission>
    <permission>hudson.model.Item.Read:pjl</permission>
    <permission>hudson.model.Item.Read:pwang</permission>
    <permission>hudson.model.Item.Read:scox</permission>
    <permission>hudson.model.Item.Read:singh</permission>
    <permission>hudson.model.Item.Read:spshriva</permission>
    <permission>hudson.model.Item.Workspace:acrerar</permission>
    <permission>hudson.model.Item.Workspace:balhoff</permission>
    <permission>hudson.model.Item.Workspace:bennettc</permission>
    <permission>hudson.model.Item.Workspace:bizon</permission>
    <permission>hudson.model.Item.Workspace:igilani</permission>
    <permission>hudson.model.Item.Workspace:kebedey</permission>
    <permission>hudson.model.Item.Workspace:kferriter</permission>
    <permission>hudson.model.Item.Workspace:pjl</permission>
    <permission>hudson.model.Item.Workspace:pwang</permission>
    <permission>hudson.model.Item.Workspace:scox</permission>
    <permission>hudson.model.Item.Workspace:singh</permission>
    <permission>hudson.model.Item.Workspace:spshriva</permission>
    <permission>hudson.model.Run.Delete:acrerar</permission>
    <permission>hudson.model.Run.Delete:balhoff</permission>
    <permission>hudson.model.Run.Delete:bennettc</permission>
    <permission>hudson.model.Run.Delete:bizon</permission>
    <permission>hudson.model.Run.Delete:igilani</permission>
    <permission>hudson.model.Run.Delete:kebedey</permission>
    <permission>hudson.model.Run.Delete:kferriter</permission>
    <permission>hudson.model.Run.Delete:pjl</permission>
    <permission>hudson.model.Run.Delete:pwang</permission>
    <permission>hudson.model.Run.Delete:scox</permission>
    <permission>hudson.model.Run.Delete:singh</permission>
    <permission>hudson.model.Run.Delete:spshriva</permission>
    <permission>hudson.model.Run.Replay:acrerar</permission>
    <permission>hudson.model.Run.Replay:balhoff</permission>
    <permission>hudson.model.Run.Replay:bennettc</permission>
    <permission>hudson.model.Run.Replay:bizon</permission>
    <permission>hudson.model.Run.Replay:igilani</permission>
    <permission>hudson.model.Run.Replay:kferriter</permission>
    <permission>hudson.model.Run.Replay:pjl</permission>
    <permission>hudson.model.Run.Replay:pwang</permission>
    <permission>hudson.model.Run.Replay:scox</permission>
    <permission>hudson.model.Run.Replay:singh</permission>
    <permission>hudson.model.Run.Replay:spshriva</permission>
    <permission>hudson.model.Run.Update:acrerar</permission>
    <permission>hudson.model.Run.Update:balhoff</permission>
    <permission>hudson.model.Run.Update:bennettc</permission>
    <permission>hudson.model.Run.Update:bizon</permission>
    <permission>hudson.model.Run.Update:igilani</permission>
    <permission>hudson.model.Run.Update:kebedey</permission>
    <permission>hudson.model.Run.Update:kferriter</permission>
    <permission>hudson.model.Run.Update:pjl</permission>
    <permission>hudson.model.Run.Update:pwang</permission>
    <permission>hudson.model.Run.Update:scox</permission>
    <permission>hudson.model.Run.Update:singh</permission>
    <permission>hudson.model.Run.Update:spshriva</permission>
    <permission>hudson.model.View.Configure:acrerar</permission>
    <permission>hudson.model.View.Configure:balhoff</permission>
    <permission>hudson.model.View.Configure:bennettc</permission>
    <permission>hudson.model.View.Configure:bizon</permission>
    <permission>hudson.model.View.Configure:igilani</permission>
    <permission>hudson.model.View.Configure:kebedey</permission>
    <permission>hudson.model.View.Configure:kferriter</permission>
    <permission>hudson.model.View.Configure:pjl</permission>
    <permission>hudson.model.View.Configure:pwang</permission>
    <permission>hudson.model.View.Configure:scox</permission>
    <permission>hudson.model.View.Configure:singh</permission>
    <permission>hudson.model.View.Configure:spshriva</permission>
    <permission>hudson.model.View.Create:acrerar</permission>
    <permission>hudson.model.View.Create:balhoff</permission>
    <permission>hudson.model.View.Create:bennettc</permission>
    <permission>hudson.model.View.Create:bizon</permission>
    <permission>hudson.model.View.Create:igilani</permission>
    <permission>hudson.model.View.Create:kebedey</permission>
    <permission>hudson.model.View.Create:kferriter</permission>
    <permission>hudson.model.View.Create:pjl</permission>
    <permission>hudson.model.View.Create:pwang</permission>
    <permission>hudson.model.View.Create:scox</permission>
    <permission>hudson.model.View.Create:singh</permission>
    <permission>hudson.model.View.Create:spshriva</permission>
    <permission>hudson.model.View.Delete:acrerar</permission>
    <permission>hudson.model.View.Delete:balhoff</permission>
    <permission>hudson.model.View.Delete:bennettc</permission>
    <permission>hudson.model.View.Delete:bizon</permission>
    <permission>hudson.model.View.Delete:igilani</permission>
    <permission>hudson.model.View.Delete:kebedey</permission>
    <permission>hudson.model.View.Delete:kferriter</permission>
    <permission>hudson.model.View.Delete:pjl</permission>
    <permission>hudson.model.View.Delete:pwang</permission>
    <permission>hudson.model.View.Delete:scox</permission>
    <permission>hudson.model.View.Delete:singh</permission>
    <permission>hudson.model.View.Delete:spshriva</permission>
    <permission>hudson.model.View.Read:acrerar</permission>
    <permission>hudson.model.View.Read:anonymous</permission>
    <permission>hudson.model.View.Read:balhoff</permission>
    <permission>hudson.model.View.Read:bennettc</permission>
    <permission>hudson.model.View.Read:bizon</permission>
    <permission>hudson.model.View.Read:igilani</permission>
    <permission>hudson.model.View.Read:kebedey</permission>
    <permission>hudson.model.View.Read:kferriter</permission>
    <permission>hudson.model.View.Read:pjl</permission>
    <permission>hudson.model.View.Read:pwang</permission>
    <permission>hudson.model.View.Read:scox</permission>
    <permission>hudson.model.View.Read:singh</permission>
    <permission>hudson.model.View.Read:spshriva</permission>
    <permission>hudson.scm.SCM.Tag:acrerar</permission>
    <permission>hudson.scm.SCM.Tag:balhoff</permission>
    <permission>hudson.scm.SCM.Tag:bennettc</permission>
    <permission>hudson.scm.SCM.Tag:bizon</permission>
    <permission>hudson.scm.SCM.Tag:igilani</permission>
    <permission>hudson.scm.SCM.Tag:kebedey</permission>
    <permission>hudson.scm.SCM.Tag:kferriter</permission>
    <permission>hudson.scm.SCM.Tag:pjl</permission>
    <permission>hudson.scm.SCM.Tag:pwang</permission>
    <permission>hudson.scm.SCM.Tag:scox</permission>
    <permission>hudson.scm.SCM.Tag:singh</permission>
    <permission>hudson.scm.SCM.Tag:spshriva</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:acrerar</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:pjl</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:singh</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:acrerar</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:pjl</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:singh</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.View:acrerar</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.View:pjl</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.View:singh</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.plugins.active_directory.ActiveDirectorySecurityRealm" plugin="active-directory@2.16">
    <domains>
      <hudson.plugins.active__directory.ActiveDirectoryDomain>
        <name>AD.RENCI.ORG</name>
        <servers>ad.renci.org:3268</servers>
        <bindName>CN=Stars Zeppelin AD Bind,OU=Service Accounts,OU=RENCI Infrastructure,DC=ad,DC=renci,DC=org</bindName>
        <bindPassword>{AQAAABAAAAAgWo3IBhx5znQHU0UfrYF1L+btqzlq90Sdqz8rODBXzBTBAtlmpNSowhzPzR4+s/HA}</bindPassword>
        <tlsConfiguration>TRUST_ALL_CERTIFICATES</tlsConfiguration>
      </hudson.plugins.active__directory.ActiveDirectoryDomain>
    </domains>
    <startTls>true</startTls>
    <groupLookupStrategy>AUTO</groupLookupStrategy>
    <removeIrrelevantGroups>false</removeIrrelevantGroups>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="org.jenkins_ci.plugins.pegdown_formatter.PegDownFormatter" plugin="pegdown-formatter@1.3">
    <flags>262399</flags>
    <extensions>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>SUPPRESS_ALL_HTML</name>
        <flag>196608</flag>
        <selected>false</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
    </extensions>
    <advancedExtensions>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>ABBREVIATIONS</name>
        <flag>4</flag>
        <selected>true</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>AUTOLINKS</name>
        <flag>16</flag>
        <selected>true</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>DEFINITIONS</name>
        <flag>64</flag>
        <selected>true</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>FENCED_CODE_BLOCKS</name>
        <flag>128</flag>
        <selected>true</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>HARDWRAPS</name>
        <flag>8</flag>
        <selected>true</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>NO_FOLLOW_LINKS</name>
        <flag>262144</flag>
        <selected>true</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>SMARTYPANTS</name>
        <flag>3</flag>
        <selected>true</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>TABLES</name>
        <flag>32</flag>
        <selected>true</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
    </advancedExtensions>
  </markupFormatter>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>-1</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>