$margin: 1.5rem;
:host {
  .mat-card {
    display: grid;
    grid-template-rows: minmax(auto, max-content) minmax(auto, min-content) auto;
    height: calc(100% - 2 * #{$margin});
    padding: 0em;
    margin: $margin;

    .table-container {
      height: 100%;
      width: 100%;
      overflow: auto;

      .mat-table {
        width: 100%;
      }

      .mat-row {
        min-height: 24px;
      }

      // .mat-cell {
      //   white-space: nowrap;
      // }

      .mat-column-action {
        width: 1rem;
      }
      th.mat-header-cell:first-of-type,
      td.mat-cell:first-of-type,
      td.mat-footer-cell:first-of-type {
        padding: 0.5rem;
      }
      th {
        white-space: nowrap;
      }
      td {
        white-space: normal;
      }
    }
  }
}
