<mat-card class="mat-elevation-z2">
    <div class="d-flex justify-content-between">
        <!-- <button mat-icon-button color="primary" [matMenuTriggerFor]="actionMenu"
            aria-label="Example icon button with a home icon">
            <mat-icon fontSet="fal" fontIcon="fa-filter"></mat-icon>
        </button> -->
        <mat-menu #actionMenu="matMenu">
            <form [formGroup]="searchForm" class="flex-grow-1 p-2">
                <mat-form-field dense class="w-100" appearance="standard">
                    <mat-label>Search</mat-label>
                    <input matInput formControlName="name" placeholder="Enter search">
                </mat-form-field>
            </form>
        </mat-menu>
    </div>
    <div class="table-container">
        <table mat-table [dataSource]="data" matSort [matSortActive]="searchForm.value.sort" matSortDisableClear
            [matSortDirection]="searchForm.value.dir">

            <ng-container *ngFor="let column of report.columns" [matColumnDef]="column.name" class="w-100">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.displayName}} </th>
                <td mat-cell *matCellDef="let row" [innerHTML]="row[column.name]  | safe:'html'"> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
    <div class="d-flex justify-content-end">
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageIndex]="searchForm.value.page - 1"
            [pageSize]="searchForm.value.pageSize" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
</mat-card>