apiVersion: v2
name: search
description: A Helm chart for Kubernetes

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.1.1

dependencies:
  - name: airflow
    version: "8.0.9"
    condition: airflow.enabled
    repository: "https://airflow-helm.github.io/charts"
  - name: elasticsearch
    version: "7.12.0"
    repository: "https://helm.elastic.co"
    condition: elasticsearch.enabled
  - name: redis
    version: "13.0.0"
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
  - name: search-api
    version: "0.1.1"
    condition: api.enabled
    repository: "https://cschreep.github.io/charts/"
  - name: search-ui
    version: "0.1.0"
    condition: search-ui.enabled
    repository: "https://cschreep.github.io/charts/"
  - name: tranql
    version: "0.1.0"
    condition: tranql.enabled
