{{- if not .Values.oauth.existingClaim }}
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ .Values.oauth.claimName }}
  labels:
    {{- include "appstore.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
  storageClassName: {{ .Values.oauth.storageClass }}
{{- end }}
