<app-header></app-header>
<mat-sidenav-container>
    <mat-sidenav [mode]="userProfile.mobileQuery.matches ? 'over' : 'side'" [opened]="userProfile.preference.sideOpen"
        [disableClose]="true">
        <div style="position: relative; max-height: 100%;" [perfectScrollbar]="config">
            <app-sidebar></app-sidebar>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="header">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="content">
            <router-outlet>
            </router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>