<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Recover Password</mat-card-title>
            <mat-card-subtitle>Enter your username and we'll send you the password reset link.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <app-field-validation [error]="form.touched && form.errors">
            </app-field-validation>
            <div class="d-flex flex-column" [formGroup]="form">
                <div class="d-flex justify-content-center flex-column">
                    <mat-form-field class="w-10">
                        <input matInput placeholder="Username" formControlName="username">
                    </mat-form-field>
                    <app-field-validation [error]="form.controls.username.touched && form.controls.username.errors"
                        [messages]="validationMessages.username">
                    </app-field-validation>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                Submit
            </button>
        </mat-card-actions>
    </mat-card>
</form>