<form [formGroup]="entityForm" (ngSubmit)="login()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login to ReCCAP Dashboard</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-field-validation [error]="entityForm.touched && entityForm.errors">
            </app-field-validation>
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-center flex-column">
                    <mat-form-field class="w-10" *ngIf="entityForm.controls.username;let control">
                        <input matInput placeholder="Username" formControlName="username">
                        <mat-error *ngIf="control.errors?.required;let error">Username is required</mat-error>
                        <mat-error *ngFor="let error of control.errors?.serverError;">{{error}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="d-flex justify-content-center flex-column">
                    <mat-form-field class="w-10" *ngIf="entityForm.controls.password;let control">
                        <input matInput type="password" placeholder="Password" formControlName="password">
                        <mat-error *ngIf="control.errors?.required;let error">Username is required</mat-error>
                        <mat-error *ngFor="let error of control.errors?.serverError;">{{error}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="d-flex justify-content-between">
                    <mat-checkbox color="warn" formControlName="isPersistent">Remember me</mat-checkbox>
                    <a [routerLink]="['/password-forgot']" class="link">Forgot password?</a>
                </div>
                <div class="text-center">
                    Don't have an account?
                    <a [routerLink]="['/register']" [queryParams]="{returnUrl: returnUrl}"
                        class="text-info link">Register</a>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!entityForm.valid">
                Login
            </button>
        </mat-card-actions>
    </mat-card>
</form>
